@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Text+Me+One&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  background-image: url("../images/pexels-venelin-dimitrov-3476312.jpg");
  background-size: contain;
  // background: rgb(48, 1, 123);
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

image, video, canvas, svg {
  max-width: 100%;
}

h2 {
  font-weight: 600;
  color: rgb(255, 235, 189);
  -webkit-text-stroke: 0.5px rgb(64, 3, 145);
  // text-shadow: -1px 0px rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

h2 {
 font-size:xx-large;
}

h6 {
  font-weight: 600;
  color: rgb(255, 147, 228);
  -webkit-text-stroke: 0.3px rgb(253, 254, 255);
  font-style: italic;
}

p {
  font-size: 0.5rem;
  color: rgb(253, 229, 173);
}

.hero, .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.hero {
  // position: relative;
  // overflow: hidden;
  margin: 10px 0 20px 0;
 
  height: 200px;
  // background-image: url("../images/1534357139.svg");
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: contain;
}



.hero::after {
  // height: 200px;
  background-image: url("../images/1534357139.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  content: "";
  position: absolute;
  width: 40%;
  height: 70%;
  // top: -50%;
  // left: -50%;
  z-index: -1;
  // background: url(background.png) 0 0 repeat;
  // transform: rotate(-30deg);
}

.role {
  // background-color: rgba(103, 25, 126, 0.5);
  text-align: center;
}

.about {
  background-color: rgb(48, 1, 123);
  display: flex;
  flex-direction: row;
}

.contact {
  background-color: #67197e;
}

footer {
  background-color: rgb(27, 1, 27);
  text-align: center;
}

#sara-img:hover {
  animation-name: spin3D;
  animation-duration: 1s;
  animation-iteration-count: 1;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: ease-in-out;
}

@keyframes spin3D {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}


// #center_img {
  
// }

// #center_img {
//   width: 50%;
//   -webkit-animation: rotation 100s infinite linear;
//   -webkit-animation-iteration-count: 1;
// }

// @-webkit-keyframes rotation {
//   from {
//       -webkit-transform: rotate(0deg);
//   }
//   to {
//       -webkit-transform: rotate(359deg);
//   }
// }

#sarah-img {
  width: 200px;
}